WORDPRESS_DB_HOST=wordpress-db
WORDPRESS_DB_NAME={{ wordpress_db_name }}
WORDPRESS_DB_USER={{ wordpress_db_user }}
WORDPRESS_DB_PASSWORD={{ wordpress_db_password }}
TZ={{ wordpress_timezone }}
WORDPRESS_CONFIG_EXTRA=define('WP_REDIS_HOST', 'wordpress-valkey'); define('WP_REDIS_PORT', 6379); define('WP_REDIS_GRACEFUL', true); define('DISABLE_WP_CRON', true);
