[Unit]
Description=Caddy reverse proxy

[Container]
ContainerName=caddy
Image={{ caddy_image }}
Network=caddy.network
EnvironmentFile=/etc/caddy/env
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Volume=/etc/caddy:/etc/caddy:ro
Volume=caddy-data:/data
Volume=caddy-config:/config

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
